.edicratic-add-library-tooltip {
    display: inline-block !important;
    border-bottom: 1px black !important;
    position: absolute!important;
    background-color: darkgray;
    width: 400px;
    height: auto;
    background-color: #f5f5f5 !important;
    z-index: 100000;
}

.edicratic-add-library-tooltip .tooltiptext-top {
    color: black !important;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;

    font-size: 1vw !important;
    font-weight: normal !important;
    font-family: 'Times New Roman' !important;
    font-style: normal !important;
    line-height: normal !important;
  }

  .edicratic-add-library-tooltip hr {
    height: 1px !important;
    border: 0 !important;
    border-top: 5px solid black !important;
    margin: 1em 0 !important;
    padding: 0 !important;
  }

.edicratic-add-library-tooltip .tooltiptext-top::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
  }

  .edicratic-add-library-tooltip .tooltiptext-bottom {
    color: black !important;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;

    font-size: 1vw !important;
    font-weight: normal !important;
    font-family: 'Times New Roman' !important;
    font-style: normal !important;
    line-height: normal !important;
  }

  .edicratic-add-library-tooltip .tooltiptext-bottom::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: lightgray transparent transparent transparent;
  }

  .edicratic-add-library-tooltip .tooltiptext-top-right {
    color: black !important;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;

    font-size: 1vw !important;
    font-weight: normal !important;
    font-family: 'Times New Roman' !important;
    font-style: normal !important;
    line-height: normal !important;

  }

  .edicratic-add-library-tooltip .tooltiptext-bottom-right {
        color: black !important;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;

    font-size: 1vw !important;
    font-weight: normal !important;
    font-family: 'Times New Roman' !important;
    font-style: normal !important;
    line-height: normal !important;

  }

  .edicratic-add-library-tooltip .tooltiptext-bottom-right::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 10px !important;
    margin-right: -10px !important;
    border-width: 10px;
    border-style: solid;
    border-color: lightgray transparent transparent transparent;
  }

  .edicratic-add-library-tooltip .tooltiptext-top-right::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 10px !important;
    margin-right: -10px !important;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
  }


  
  
.edicratic-yes {
    float:right;
    padding: 0.7rem;
    text-decoration: none !important;
}

.edicratic-no {
    float:left;
    padding: 0.7rem;
    text-decoration: none !important;
}
.edicratic-no:hover {
    background-color: #15c39a !important;
}

.edicratic-yes:hover {
    background-color: #15c39a !important;
}
