.edicratic-anchor-tag-style {
    border-bottom: 5px solid #15c39a !important;
    padding-bottom: 0px !important;
    color: black !important;
    background-color:#FFFF00 !important;
    position: relative !important;
    display: inline-block !important;
}

.edicratic-anchor-tag-style .tooltip {
    visibility: hidden !important;
    width: 15vw !important;
    height: 12vh !important;
    border-radius: 20px !important;
    background-color: #DE5347 !important;
    overflow-y:auto !important;
    color: black !important;
    text-align: center !important;
    padding: 5px !important;
    font-size: 0.8rem !important;
    line-height: 150% !important;
    position: absolute !important;
    z-index: 1 !important;
}

.edicratic-anchor-tag-style:hover .tooltip {
    visibility: visible !important;
}