html body {
 position: static !important;
}

.edicratic-anchor-tag-style {
    border-bottom: 2px dotted #15c39a;
    pointer-events: auto !important; 
    text-indent: 0 !important;
    box-sizing:border-box;
    /* background-color: #15c39a; */
    margin-bottom: -2px;
    padding-bottom: 0px !important;
    position: relative !important;
    display: inline-block !important;
    cursor: pointer;
    text-indent: 0;
    pointer-events: auto !important;
}

.edicratic-transparent-border {
  border-bottom: 5px solid transparent;

}

.edicratic-anchor-tag-style:hover {
  background-color:#d3d3d3;
}

.edicratic-anchor-tag-override {
  border-bottom: 2px solid transparent;
  cursor: inherit;
}

.edicratic-anchor-tag-override:hover {
  background-color: transparent !important;
}

.edicratic-tooltip {
    float: left !important;
    text-align: center;
    visibility: hidden;
    /*height: 30vh !important;*/
    width: auto;
    background-color: #f5f5f5 !important;
    color: black !important;
    text-align: center !important;
    padding: 5px 0 !important;
    border-radius: 6px !important;
    padding: 1rem;
    display: none;
    position: absolute !important;
    z-index: 1000000000000;
    left: 30px;
    top: 10px;
    height: auto;

    font-size: 14px !important;
    font-weight: normal !important;
    font-family: 'Times New Roman' !important;
    font-style: normal !important;
    line-height: normal !important;
    overflow-y:auto;
}
.edicratic-tooltip .edicratic-paragraph-classname {
  height: auto;
  overflow-y: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px !important;
  font-weight: normal !important;
  font-family: 'Times New Roman' !important;
  font-style: normal !important;
  line-height: normal !important;
  overflow-y:auto;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;

}

 .edicratic-anchor-tag-style .edicratic-tooltip::after {
    visibility: hidden;
    display: none;
  }

  .edicratic-tooltip hr { display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 5px solid black !important;
    margin: 1em 0 !important;
    padding: 0 !important;
    width: 100%;
}

.edicratic-inner-link {
    margin-top: 5px;
    color: #0645ad;
    cursor: pointer;
    position: relative;
    text-decoration: none !important;
    border-bottom: none !important;
}

/* img {
    width: 10% !important;
    height: 10% !important;
    /* margin-top: 20% !important; */


/*loader stuff*/
/* Absolute Center Spinner */
.loading-edicratic {
    position: fixed;
    z-index: 1000000000000;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Transparent Overlay */
  .loading-edicratic:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  /* :not(:required) hides these rules from IE9 and below */
  .loading-edicratic:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .loading-edicratic:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }

  /* Animation */

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/*alt tab*/
.edicratic-tooltip .edicratic-tabContainer {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: lightgray;
  height: 30px;
  margin-bottom: -5px;
}

.edicratic-tooltip .edicratic-tab {
    width: 100px;
    padding: 0.5rem;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    display: flex;
    cursor: pointer;
    color: black !important;
}

.edicratic-tooltip b {
    font-weight: bold !important;
}

.edicratic-tooltip h4 {
  display: block !important;
  margin-block-start: 0.2em !important;
  margin-block-end: 0.2em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  font-size: 18px;
}

.edicratic-tooltip .edicratic-tab:hover {
  background-color: gray !important;
}

.edicratic-tooltip .edicratic-selected {
  background-color: gray !important;
}

.edicratic-tooltip-bottom {
  content: " ";
  position: absolute;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  display: block;
  z-index: 10000000;
}

.edicratic-entity-header {
  padding: 0.5rem;
  padding-bottom: 0;
}

.edicratic-tooltip-bottom-rightsideup {
  border-color: lightgray transparent transparent transparent;
}

.edicratic-tooltip-bottom-upsidedown {
  border-color: transparent transparent #f5f5f5 transparent;
}

.edicratic-grey-pointer {
  border-color: gray transparent transparent transparent !important;
}


.info-edicratic{
  height: 270px;
  overflow-y: scroll;
}

.edicratic-image {
  object-fit: cover;
  width: 50px;
  height: auto;
  float: left;
  padding-right: 5px;
}

.edicratic-image-nyt {
  margin-top: 0;
  width: 60%;
  height: 100%;
  padding-right: 1rem;
  float: left;
}

.edicratic-image-below {
  margin-top: 0;
  width: 30%;
  height: 30%;
  text-align: center;
  display: inline;
}

.edicratic-entity-link {
  color: #8c1515;
  cursor: pointer;
  text-decoration: none !important;
  border-bottom: none !important;
}

/*media queries*/
@media screen and (max-width: 1125px) {
  .edicratic-tooltip .edicratic-paragraph-classname {
    font-size: 1.3vw !important;
  }
  .edicratic-tooltip {
    font-size: 1.3vw !important;
  }
}

@media screen and (max-width: 900px) {
  .edicratic-tooltip .edicratic-paragraph-classname {
    font-size: 1.7vw !important;
  }
  .edicratic-tooltip {
    font-size: 1.7vw !important;
  }
}

@media screen and (max-width: 700px) {
  .edicratic-tooltip .edicratic-paragraph-classname {
    font-size: 2.3vw !important;
  }
  .edicratic-tooltip {
    font-size: 2.3vw !important;
  }
}

@media screen and (max-width: 400px) {
  .edicratic-tooltip .edicratic-paragraph-classname {
    font-size: 3vw !important;
  }
  .edicratic-tooltip {
    font-size: 3vw !important;
  }
}
